extends cafes

block active
	-var selected = 'Café';

block content
	.jumbotron.text-center
		h1 #{title}
		p #{about}
	h2
		if content
			#{content.wifi}
		else
			#{content}

	div#Information
		p#Name 
			if content
				#{content.wifi}
			else
				#{content}
		p#Type
		p#Wifi


