extends layout

block content
	h1 #{title}

	p List of cafes

	form(method="POST" action="/cafes/"/* + title*/) 
		div Name: 
			input(name="Name", type="text", placeholder=" Cafe Name")
		div Type: 
			select(name="Type")
				var cafeTypes = #{cafeTypes}
				each type in cafeTypes
					option(type=type)=type
		div Wifi: 
			input(name="Wifi", type="checkbox")
		div
			button(name="Submit") Submit



			// option(type=cafeType) cafeType
			// input#name(type="text", placeholder="Cafe Name")

			// option(type="Cafe") Cafe
			// option(type="Restaurant") Restaurant
			// option(type="Other") Other
			// option(type=cafeType) cafeType